* {
    line-height: 1.5;
}

h1 {
    text-align: center;
    color: antiquewhite;
    background-color: rgb(107, 43, 43);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;  
}

.border {
    width: 500px;
    height: auto;
    background-color: #FFFAFA;
    border: 2px solid darkred;
    padding: 5px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    
}